@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Unassigned Staff */

aside {
    height: 100%;
    width: 20%;
    border-right: 1px solid #D9D9D9;
    padding: 1.5rem 0.25rem 0.5rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
}

aside > div {
    width: 90%;
    min-width: 0;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    background-color: #F4FAF5;
    border-color: #D9D9D9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow:  0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
}

aside h1 {
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    color: #EF9D06;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

aside > div > div {
    width: 100%;
    min-width: 0;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

aside h2 {
    font-size: calc(1rem + 0.25vw);
    font-weight: 600;
    color: #1E1E1E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#noStaff {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: calc(0.5rem + 0.1vw);
}

#noStaff svg {
    width: 20%;
}

aside > button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;

    width: fit-content;
    height: fit-content;
    min-width: 0;
    color: white;
    font-size: calc(0.5rem+0.5vw);

    background: #33C100;
    border-radius: 1rem;
    border: none;
}

aside > button > svg {
    width: calc(1rem + 1vw);
}

/* Right section of the app */

section {
    background-color: #FAFAFA;
    width: 80%;
    height: 100%;
    min-height: 0;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    row-gap: 4%;
}

section h2 {
    font-weight: bold;
    font-size: calc(1rem + 0.5vw);
    color: #33C100;
    height: fit-content;
}

/* Graphical plan */

#grid-container {
    height: 90%;
    width: 100%;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #D9D9D9;
}

#grid-container > div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
}

#grid-container > div > svg {
    color: #33C100;
    width: calc(1.5rem + 1vw);
    height: fit-content;
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

#grid-container > div > p {
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
}

#reception {
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: black;
    grid-row: 8/13;
    grid-column: 1/5;
}

#conference {
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    grid-row: 1/6;
    grid-column: 1/5;
}

#archives {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: black;
    grid-row: 1/6;
    grid-column: 6/9;
}

#servers {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    grid-row: 1/7;
    grid-column: 9/11;
}

#security {
    border-top: 2px solid black;
    grid-row: 8/13;
    grid-column: 9/11;
}

#staff {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: black;
    grid-row: 8/13;
    grid-column: 6/9;
}

/* Add new worker feature */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: fit-content;
    background: #F4FAF5;
    border-radius: 0.5rem;
    border: 1px solid grey;
    overflow-x: hidden;
    max-height: 95%;
}

#formLegend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

#formLegend > svg, .details > svg, .experience svg {
    height: 2rem;
    width: fit-content;
    color: white;
}

#formLegend > p {
    color: white;
    width: fit-content;
    height: fit-content;
    font-weight: 600;
}

form > div:nth-of-type(2) {
    height: fit-content;
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: auto;
}

#avatarGroup {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

form > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    width: 100%;
}

form img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

form label {
    font-size: calc(14px + 0.1vw);
}

form input, select {
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;
    height: fit-content;
}

#otherRole {
    display: none;
}

form > div:nth-of-type(3) {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

form div:nth-of-type(3) button {
    width: 40%;
    height: fit-content;
    padding: 0.5rem;
    font-size: calc(14px + 0.25vw);
    font-weight: 500;
    background-color: #EADDFF;
    border-radius: 0.5rem;
    border: none;
}

form div:nth-of-type(3) button:hover {
    background-color: #33C100;
    color: white;
}
/* Experience Form part */
.experience {
   width: 100%;
   border-radius: 0.5rem;
   padding: 0.5rem;
   background-color: #EADDFF;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

.experience > div:first-child {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience > div:first-child > div {
    height: fit-content;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    background-color: #E53935;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.experience > div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.experience > div:last-child > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

